<div id="<%= dom_id tweet %>">
  <div class="card text-center">
    <div class="card-header">
    <%= tweet.username %>
    </div>
    <div class="card-body">
    <p class="card-text">
    <%= tweet.description %>
    </p>
    <a href="#" class="btn btn-primary">Editar</a>
    
    <%= button_to "Eliminar", @tweet,class:"btn btn-danger" , method: :delete %>
    </a>

    </div>
    <div class="card-footer text-body-secondary">
    <%= tweet.updated_at%>
    
    </div>
    </div>

  <p>
    <strong>Username:</strong>
    <%= tweet.username %>
  </p>

</div>
